[theme="elegant"] {
  --color-primary: #186763;
  --color-info: #0000ff;
  --color-danger: green;
  --color-not-specified: #BF4FA0;
  --color-white: #FFFFFF;
  --menu-background-color: #186763;
  --background-color-base: #f4f3f1;
}
