body {
  margin: 0;
}

h1 {
  @extend .fs--extra-large;
}

h2 {
  @extend .fs--large;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
a,
li {
  font-size: var(--font-size-base);
}

a {
  color: var(--color-text-base);
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
